<<<<<<< HEAD
<h1>Hello {{FirstName}} {{LastName}}</h1>
<h2>Email: {{Email}}</h2>
=======
<h1>Hello {{FirstName}} {{LastName}}</h1>
<h2>Email: {{Email}}</h2>
>>>>>>> 308756a52e64dad91cd52f6b2c3ba91c520f0699
<h3>Username: {{Username}}</h3>